/* ---------------------------------------------------- 
// Tailwind CSS Base Directives (Required for functionality) // 
---------------------------------------------------- */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------------------------------------------------- 
// Global Styles //
 ---------------------------------------------------- */
 body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}